#login{
    /* background-color: black; */
    color: #2B2B2B;
    position: absolute;
    bottom:0;
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: row;
}

#login-left{
    /* background-color: red; */
    height: 85vh;
    width: 38vw;
    padding-left: 6vw;
    padding-top: 5vh;
}

#login-right{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 43vw;
    padding-left: 4vw;
    padding-top: 10vh;
    padding-right: 10vw;
}
#login-title{
    font-size: 40px;
    /* font-family: montserrat; */
    font-weight: bold;
}
#login-text{
    font-size: 20px;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
#login-infoconnect, #login-email{
    font-size: 32px;
    color: white;
    height: 9vh;
    width:100%;
    margin-top:2vh;
    border-radius: 4px;
}
#login-infoconnect{
    background-color: #6B4BEC;
}
#login-email{
    background-color: #3E7DDB;
}
#login-bottom{
    margin-top: 8vh;
    color: #333333;
}