nav{
    background-color: #F4F5F5;
    height: 6vh;
    display: flex;
    box-shadow: 0 3px 8px lightgrey;
}
.nav-tabs{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
.nav-tabs button:active{
    border: none;
}

.nav-tabs button:hover{
    color:#666666;
    /* border-bottom: 2px solid #3E7DDB; */
}
.btn-1{
    width: 20vh;
    font-weight: bold;
    color:#888888;
    background-color: transparent;
    height: 6vh;
    border: none;
}
.btn-2{
    
    width: 20vh;
    font-weight: bold;
    color:#888888;
    background-color: transparent;
    height: 6vh;
    border:none;
    border-bottom: 2px solid #3E7DDB;
}